body{
  text-align: center;
  background-color: #e1e1e1;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

#header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.btns {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.btns:hover  {
  opacity: 1;
  right: 0;
}

#nav {
  font-size: large;
  margin-left:40px;
  font-family: 'Roboto', sans-serif;
  
}

#text {
  font-size: large;
  width: 30%;
  border-radius: 5px;
  opacity: 0.5;
}

#result {
  font-size: 18px;
  text-shadow: 0.25px 0.25px 0.25px 0.25px #000000;
  text-align: left;
}

p{
  text-align: left;
  font-size: medium;
}